---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "Home page home";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam error
      magnam officia fuga tempore odit minus, optio ut numquam nostrum sunt quo
      iure? Deserunt, reprehenderit inventore ipsam molestias totam fugiat.
    </p>

    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
